<nav class="navbar navbar-default navbar-fixed-top"
     role="navigation">
    <div class="container-fluid visible-xs"
         ng-include
         src="'/inline/header_mobile.html'">
    </div>
    <div class="container-fluid hidden-xs"
         ng-include
         src="'/inline/header_regular.html'">
    </div>
</nav>
<script type="text/ng-template" id="/inline/header_regular.html">
<div ng-controller="HeaderController">
    <nav class="navbar navbar-inverse navbar-fixed-top" 
         role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navbar-header" href="#">
                    Radar
                </a>
            </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn">
                    <a href="#!/auth/authorize">
                        Login
                        <span class="glyphicon glyphicon-log-in" 
                              aria-hidden="true"></span>
                    </a>
                </li>
                <li class="dropdown" ng-show="isLoggedIn" dropdown>
                    <a href="#" class="dropdown-toggle" 
                                data-toggle="dropdown" 
                                dropdown-toggle>
                        <span ng-show="currentUser.$resolved">
                            {{currentUser.full_name}}
                        <span class="caret dropdown" aria-hidden="true"></span>
                        </span>
                        <em class="text-muted" ng-hide="currentUser.$resolved">
                            Loading...
                        </em>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                              <a href="#!/profile/preferences">
                                  <i class="fa fa-cog"></i>
                                  Preferences
                              </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#!/auth/deauthorize">
                                <span class="glyphicon glyphicon-log-out" 
                                  aria-hidden="true"></span>
                            Logout
                            </a></li>
                    </ul>
                </li>
            </ul>
          <form class="navbar-form navbar-right">
              <div class="form-group has-feedback">
                  <input type="text" 
                         class="form-control" 
                         placeholder="Search..."
                         ng-model="searchString"
                         typeahead-wait-ms="200"
                         typeahead-append-to-body="true"
                         typeahead-editable="false"
                         typeahead="criteria as criteria.title for criteria in quickSearch($viewValue)"
                         typeahead-loading="headerCriteriaLoading"
                         typeahead-on-select="search($model)"
                         typeahead-template-url="app/search/template/typeahead_criteria_item.html"
                   />
                  <span class="form-control-feedback text-muted">
                      <i class="fa fa-search" 
                         ng-hide="headerCriteriaLoading">
                      </i>
                      <i class="fa fa-spin fa-refresh"
                         ng-show="headerCriteriaLoading">
                      </i>
                  </span>
              </div>
          </form>
        </div>
      </div>
    </nav>
</div>
</script>
<!-- The menu for xs sized screens -->
<script type="text/ng-template" id="/inline/header_mobile.html">
    <div ng-controller="HeaderController">
    <nav class="navbar navbar-inverse navbar-fixed-top"
         role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand navbar-header" href="#">
                    Radar
                </a>
                <a href="#!/auth/authorize" class="btn btn-sm btn-default navbar-btn pull-right" ng-hide="isLoggedIn" style="margin-right: 10px">
                    <span class="glyphicon glyphicon-log-in"
                          aria-hidden="true"></span>
                </a>
                <div class="btn-group pull-right" dropdown is-open="status.isopen" ng-show="isLoggedIn" style="margin-right: 10px">
                    <button type="button" class="btn btn-default btn-sm navbar-btn dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                        <span class="caret dropdown" aria-hidden="true"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-mobile" role="menu">
                        <li>
                              <a href="#!/profile/preferences">
                                  <i class="fa fa-cog"></i>
                              </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#!/auth/deauthorize">
                                <span class="glyphicon glyphicon-log-out"
                                  aria-hidden="true"></span>
                            </a></li>
                    </ul>
                </div>
        </div>
    </div>
    </nav>
    </div>
</script>
